@font-face {
	font-family: "SUSE";
	src: url("/WebAsset/SUSE-VariableFont_wght.ttf");
}
.page {
	background-image: url('/WebAsset/download_4_optimized.webp');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

#TopBar {
	background-image: url('/WebAsset/download_4_optimized.webp');
	background-size: cover;
	background-position:top;
	background-attachment:local;

	min-height: 50px;

}

.logo_text {
	padding: 5px 15px;
	font-family: "SUSE", sans-serif;
	font-weight: 700;
	font-size: 2rem;

	color: white;
}

@media screen and (max-width: 768px) {
	.logo_text {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 576px) {
	.logo_text {
		font-size: 1.2rem;
	}
	
}

