.space-logo {
  width: 500px;
  /* set max height and crop the rest */
  max-height: 300px;
  object-fit: cover;
  object-position: top;
}

@media (max-width: 1150px) {
  .space-logo {
    width: 450px;
  }
}

@media (max-width: 960px) {
  .space-logo {
    width: 370px;
  }
}

@media (max-width: 820px) {
  .space-logo {
    width: 320px;
  }
}

@media (max-width: 650px) {
  .space-logo {
    width: 280px;
  }
}

@media (max-width: 480px) {
  .space-logo {
    width: 200px;
  }
}

